@charset "UTF 8";
    * {
      padding: 0px;
      margin: 0px;
      
    }

    @import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');


    
   
  html,body{
   min-height: 100vh;
   background-color: gray;
  }


   header{
      text-align: center;
      background-color: black;
      color: white;
   }


   header> h1{
      padding: 50px;
      font-variant: small-caps;
      font-size: 4vw;

   }
   header> p{
      
      padding: 1px;
   }

   a{
      color: white;
      text-decoration: none;
      font-weight: bolder;

   }
   a:hover{
      text-decoration: underline;
   }

   section{
      padding-top: 10vh;
      padding-bottom:10vh ;
      line-height: 2em;
      padding-left: 25px;
      
   }

   section.imagens>p{
      display: inline-block;
     padding: 3px;
      background-color: rgba(0, 0, 0, 0.26);
      text-shadow: 1px 1px 0px black;
   }

   section.normal{
    background-color: white;
    color:black ;  
   }

   section.imagens{
      background-color: grey;
      color: white;
      box-shadow:inset 5px 5px 11px 0px rgb(12, 11, 11);
      background-attachment: fixed;
   }

   section{
      font-family: 'Times New Roman', Times, serif;
   }
   section >p{
      padding-bottom: 2em;
   }


   section#img001{
      background-image: url('../imagens/background001.jpg');
      background-position:right center ;
      background-size: cover;
   }

   section#img002{
      background-image: url('../imagens/background002.jpg');
      background-size: cover;
   }

   footer{
      background-color:  transparent ;
      color: wheat;
      text-align: center;
      margin: 5px;
   }

   